{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('id_new_password1');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';

            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
</head>
<body>
{% block content %}
    <div id="content-main">
        <form method="post" >
            {% csrf_token %}
            <div>
                <h2>Смена пароля</h2>
                {% if form.errors %}
                    <p class="errornote">
                        {% blocktranslate count counter=form.errors.items|length %}Пожалуйста, исправьте ошибку ниже.{% plural %}Пожалуйста, исправьте ошибки ниже.{% endblocktranslate %}
                    </p>
                {% endif %}


                <div class="module aligned wide">
                    {% with form.old_password.id_for_label as old_password_id %}
                        <div class="form-row">
                            {{ form.old_password.errors }}
                            <div class="flex-container">
                                <input type="password" name="{{ form.old_password.name }}" id="{{ old_password_id }}" placeholder="{% trans 'Старый пароль' %}">
                            </div>
                        </div>
                    {% endwith %}

                    {% with form.new_password1.id_for_label as new_password1_id %}
                        <div class="form-row">
                            {{ form.new_password1.errors }}
                            <div class="flex-container">
                                <input type="password" name="{{ form.new_password1.name }}" id="{{ new_password1_id }}" placeholder="{% trans 'Новый пароль' %}">
                                {% if form.new_password1.help_text %}
                                    <div class="help"{% if new_password1_id %} id="{{ new_password1_id }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with form.new_password2.id_for_label as new_password2_id %}
                        <div class="form-row">
                            {{ form.new_password2.errors }}
                            <div class="flex-container">
                                <input type="password" name="{{ form.new_password2.name }}" id="{{ new_password2_id }}" placeholder="{% trans 'Подтвердите новый пароль' %}">
                                {% if form.new_password2.help_text %}
                                    <div class="help"{% if new_password2_id %} id="{{ new_password2_id }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                </div>

                <div class="submit-row">
                    <input type="submit" value="{% translate 'Изменить мой пароль' %}" class="default">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>
